/* General */

body {
  font-family: 'Montserrat', 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', 'Montserrat', sans-serif;
  font-weight: 600;
  }
  
.background-color-rplus {
  background-color: #0db872;
}

.text-color-rplus {
  color: #0db872;
}

.page-header {
  background-color: white;
  color: #343a40;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 50px;
  position: relative;
  /* height: 400px; */
}

.overflow-hidden{
  overflow: hidden;
}

strong {
  font-weight: bold;
}

.round-border {
  border-radius: 20px;
}

/* Navbar */

#topbar-home {
  background-color: transparent;
  font-weight: 600;
}

#topbar-home.not-top-page {
  background-color: white;
}

#topbar {
  background-color: white;
  font-weight: 600;
}

#navbarCollapse .navbar-menu-home {
  color: white;
}

#navbarCollapse .navbar-menu-home.not-top-page {
  color: #343a40;
}

#navbarCollapse .navbar-menu {
  color: #343a40;
}

#navbarCollapse .nav-link {
  padding-left: 10px;
  padding-right: 10px;
}

.nav-item-highlight {
  background-color: #acd6c4;
  border-radius: 5px;
}

.back-to-top {
  position: fixed;
  bottom: 25px;
  right: 25px;
  display: block;
  border: orange !important;
  border-width: 20px !important;
}


/* Jumbotron */

#jumbotron-portada {
  background-image:  url("fotos/portada.png");
  background-size: cover;
}

@media screen and (max-width: 600px) {
  #jumbotron-portada {
    background-position: center;
  }
}

#jumbotron-portada h1 {
  color: white;
  text-align: left;
  font-weight: 900;
  margin-top: 4em;
}

#jumbotron-portada p {
  text-align: left;
  color: white; 
  font-size: 32px;
}

#jumbotron-blog {
  background-color:#acd6c4;
  margin-top: 60px;
}

#jumbotron-blog .btn {
  border-color: #0db872;
  border-width: 1.5px;
  color: #0db872;
}

/* Featurettes
------------------------- */

.featurette {
  padding: 2em;
  margin-right: 0;
}

#featurette-home-1 {
  background-color: white;
}

#featurette-home-2 {
  background-color: #0db872;
}

#featurette-home-3 {
  background-color: #acd6c4;
}

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */

.featurette-heading {
  line-height: 1;
  letter-spacing: -.05rem;
  font-size: 48px;
}

.featurette img {
  display: block; 
  margin-left: auto; 
  margin-right: auto;
  width: 250px;
}


.row-empresas {
  padding: 3em;
  text-align: center;
  margin-right: 0;
}

.row-empresas img {
  display: block;
  margin-left: auto; 
  margin-right: auto; 
  max-height: 100px;
  width: auto;
  margin-top: 2em;
  margin-bottom: 2em;
}

#row-empresas-1 {
  background-color: #acd6c4;
}

#row-empresas-2 {
  background-color: #fdf1d4;
}

.colaboradores-logos {
  max-height: 100px; 
  max-width: 80%;
}

#proceso-recogida-municipal img{
  margin: 1em;
  display: block;
  margin-left: auto; 
  margin-right: auto; 
}

.capacitaciones-img {
  max-height: 60%;
  max-width: 80%;
  /* display: block; */
}


.card {
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  background-color: inherit;
  border: unset;
}

.front, .back {
  width: 100%;
  height: 100%;
  margin-top: 1em;
  margin-bottom: 1em;
  display: block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden;
}

.back {
  transform: rotateY(180deg);
  position: absolute;
}

.container-capacitaciones {
  
  text-align: center;
}



/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 4rem;
  }

  .featurette img {
    width: 400px;
  }
}


/* stylelint-disable selector-list-comma-newline-after */

.blog-header {
  line-height: 1;
  border-bottom: 1px solid #e5e5e5;
}

.blog-header-logo {
  font-size: 2.25rem;
}

.blog-header-logo:hover {
  text-decoration: none;
}

.display-4 {
  font-size: 2.5rem;
}
@media (min-width: 768px) {
  .display-4 {
    font-size: 3rem;
  }
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-scroller .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
}

.card-img-right {
  height: 100%;
  border-radius: 0 3px 3px 0;
}

.flex-auto {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.h-250 { height: 250px; }
@media (min-width: 768px) {
  .h-md-250 { height: 250px; }
}

/* Pagination */
.blog-pagination {
  margin-bottom: 4rem;
}
.blog-pagination > .btn {
  border-radius: 2rem;
}

/*
 * Blog posts
 */
.blog-post {
  margin-bottom: 4rem;
  font-size: 16px;
}
.blog-post-title {
  margin-bottom: .5rem;
  font-size: 44px;
}

.blog-post-meta {
  margin-bottom: 1.25rem;
  color: #999;
}

/*
 * Footer
 */
.blog-footer {
  padding: 2.5rem 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: .05rem solid #e5e5e5;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}

.footer {
  background-color: rgb(248, 248, 248);
}

.footer a {
  color: #343a40;
}

.footer li {
  list-style-type: none;
}


/*
 * Extra utilities
 */

 .flex-equal > * {
  -ms-flex: 1;
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    -ms-flex: 1;
    flex: 1;
  }
}